<template name="PayoutsDemoDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> PayoutsDemoDetailsForm}}
	</div>
</template>

<template name="PayoutsDemoDetailsForm">
	<div id="payouts-demo-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Payout 2 Details
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-name">
						{{payout_2.name}}
					</p>
				</div>
			</div>
			<div class="form-group  field-mobile_number">
				<label for="mobile_number">
					Mobile Number
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-mobile_number">
						{{payout_2.mobile_number}}
					</p>
				</div>
			</div>
			<div class="form-group  field-sum_insured">
				<label for="sum_insured">
					Sum Insured
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-sum_insured">
						{{payout_2.sum_insured}}
					</p>
				</div>
			</div>
			<div class="form-group  field-order_number">
				<label for="order_number">
					Order Number
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-order_number">
						{{payout_2.order_number}}
					</p>
				</div>
			</div>
			<div class="form-group  field-value_chain">
				<label for="value_chain">
					Value Chain
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-value_chain">
						{{payout_2.value_chain}}
					</p>
				</div>
			</div>
			<div class="form-group  field-start_date">
				<label for="start_date">
					Start Date
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-start_date">
						{{payout_2.start_date}}
					</p>
				</div>
			</div>
			<div class="form-group  field-pixel">
				<label for="pixel">
					Pixel
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-pixel">
						{{payout_2.pixel}}
					</p>
				</div>
			</div>
			<div class="form-group  field-end_date">
				<label for="end_date">
					End Date
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-end_date">
						{{payout_2.end_date}}
					</p>
				</div>
			</div>
			<div class="form-group  field-germ_wet_pay">
				<label for="germ_wet_pay">
					Germ. Wet Payout
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-germ_wet_pay">
						{{payout_2.germ_wet_pay}}
					</p>
				</div>
			</div>
			<div class="form-group  field-germ_dry_pay">
				<label for="germ_dry_pay">
					Germ Dry Payout
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-germ_dry_pay">
						{{payout_2.germ_dry_pay}}
					</p>
				</div>
			</div>
			<div class="form-group  field-veg_wet_pay">
				<label for="veg_wet_pay">
					Veg Wet Payout
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-veg_wet_pay">
						{{payout_2.veg_wet_pay}}
					</p>
				</div>
			</div>
			<div class="form-group  field-veg_dry_pay">
				<label for="veg_dry_pay">
					Veg Dry Payout
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-veg_dry_pay">
						{{payout_2.veg_dry_pay}}
					</p>
				</div>
			</div>
			<div class="form-group  field-flower_pay">
				<label for="flower_pay">
					Flowering Payout
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-flower_pay">
						{{payout_2.flower_pay}}
					</p>
				</div>
			</div>
			<div class="form-group  field-excess_rain_pay">
				<label for="excess_rain_pay">
					Excess Rain Payout
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-excess_rain_pay">
						{{payout_2.excess_rain_pay}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

