.custom-textarea-parameters textarea {
	resize: vertical;
	height: 250px;
}
	
	
.custom-param-table td, .custom-param-table th {
	padding-left: 6px;
	padding-right: 6px;
}

.custom-param-table {
	width: 100%;
	margin-left: -6px;
}