<template name="AdminLogsSms">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> AdminLogsSmsView}}
	</div>
</template>

<template name="AdminLogsSmsView">
	<div id="admin-logs-sms-view" class="">
		<h2 id="component-title">
			SMS Logs
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> AdminLogsSmsViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="AdminLogsSmsViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="timestamp">
					Timestamp
				</th>
				<th class="th-sortable" data-sort="mobile_num">
					Mobile Num
				</th>
				<th class="th-sortable" data-sort="message">
					Message
				</th>
				<th class="th-sortable" data-sort="status">
					Status
				</th>
				<th class="th-sortable" data-sort="status_message">
					Status Message
				</th>
				<th class="th-sortable" data-sort="unique_id">
					Unique Id
				</th>
				<th class="th-sortable" data-sort="amount">
					Amount
				</th>
				<th class="th-sortable" data-sort="total_cost">
					Total Cost
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each logline_sms_list_paged}} {{> AdminLogsSmsViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="AdminLogsSmsViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{formatDate timestamp 'DD/MM/YYYY HH:mm:ss'}}
		</td>
		<td>
			{{mobile_num}}
		</td>
		<td>
			{{message}}
		</td>
		<td>
			{{status}}
		</td>
		<td>
			{{status_message}}
		</td>
		<td>
			{{unique_id}}
		</td>
		<td>
			{{currency amount this}}
		</td>
		<td>
			{{total_cost}}
		</td>
	</tr>
</template>

