<template name="GroupPolicies">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Group Policies
				</h2>
			</div>
		</div>
		{{> GroupPoliciesGpAggregates}}{{> GroupPoliciesView}}
	</div>
</template>

<template name="GroupPoliciesGpAggregates">
	<div>
		<form role="form" class="form-horizontal">
			<div class="form-group">
				<label for="gp_count" class="col-sm-3 control-label">
					# of Group Policies
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-gp_count">
						{{aggregates.gp_count}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<label for="gp_agg_count" class="col-sm-3 control-label">
					# of Individual Policies
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-gp_agg_count">
						{{aggregates.gp_agg_count}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<label for="gp_agg_total_amount" class="col-sm-3 control-label">
					Total Calculated Amount
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-gp_agg_total_amount">
						{{aggregates.gp_agg_total_amount}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<label for="gp_agg_deductible_amount" class="col-sm-3 control-label">
					Total Deductible
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-gp_agg_deductible_amount">
						{{aggregates.gp_agg_deductible_amount}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<label for="gp_agg_actual_amount" class="col-sm-3 control-label">
					Total Actual Payout
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-gp_agg_actual_amount">
						{{aggregates.gp_agg_actual_amount}}
					</p>
				</div>
			</div>
		</form>
	</div>
</template>

<template name="GroupPoliciesView">
	<div id="group-policies-view" class="">
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
				{{> GroupPoliciesViewCustomActions}}
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> GroupPoliciesViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="GroupPoliciesViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="id">
					Group Policy Id
				</th>
				<th class="th-sortable" data-sort="location">
					Location
				</th>
				<th class="th-sortable" data-sort="begin_date">
					Date Begin
				</th>
				<th class="th-sortable" data-sort="end_date">
					Date End
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each group_policy_list_paged}} {{> GroupPoliciesViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="GroupPoliciesViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{id}}
		</td>
		<td>
			{{json2table location this}}
		</td>
		<td>
			{{formatDate begin_date 'MMM-DD'}}
		</td>
		<td>
			{{formatDate end_date 'MMM-DD'}}
		</td>
	</tr>
</template>

<template name="GroupPoliciesViewCustomActions">
	<!-- <button class="btn btn-warning" id="btn-payout">Payout selected policies</button>
	<button class="btn btn-warning" id="btn-clear">Deselect all</button> -->
</template>

