<template name="ContractReviewPage">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ContractReviewPageHeader}}{{> ContractReviewPageContractReviewView}}
	</div>
</template>

<template name="ContractReviewPageHeader">
</template>

<template name="ContractReviewPageContractReviewView">
	<div id="contract-review-page-contract-review-view" class="">
		<h2 id="component-title">
			Contract Review
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> ContractReviewPageContractReviewViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="ContractReviewPageContractReviewViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="value_chain">
					Value Chain
				</th>
				<th class="th-sortable" data-sort="Contract">
					Contract
				</th>
				<th class="th-sortable" data-sort="StartDay">
					StartDay
				</th>
				<th class="th-sortable" data-sort="ContractEndDate">
					ContractEndDate
				</th>
				<th class="th-sortable" data-sort="GermDryPayPct">
					GermDryPayPct
				</th>
				<th class="th-sortable" data-sort="GermWetPayPct">
					GermWetPayPct
				</th>
				<th class="th-sortable" data-sort="VegDryPayPct">
					VegDryPayPct
				</th>
				<th class="th-sortable" data-sort="FlowerPayPct">
					FlowerPayPct
				</th>
				<th class="th-sortable" data-sort="ExcessRainPayPct">
					ExcessRainPayPct
				</th>
				<th class="th-sortable" data-sort="SumInsured">
					SumInsured
				</th>
				<th class="th-sortable" data-sort="TotalPayPct">
					TotalPayPct
				</th>
				<th class="th-sortable" data-sort="ActualPayPct">
					ActualPayPct
				</th>
				<th class="th-sortable" data-sort="ActualPay">
					ActualPay
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each contract_review_list_paged}} {{> ContractReviewPageContractReviewViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="ContractReviewPageContractReviewViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{value_chain}}
		</td>
		<td>
			{{Contract}}
		</td>
		<td>
			{{StartDay}}
		</td>
		<td>
			{{ContractEndDate}}
		</td>
		<td>
			{{GermDryPayPct}}
		</td>
		<td>
			{{GermWetPayPct}}
		</td>
		<td>
			{{VegDryPayPct}}
		</td>
		<td>
			{{FlowerPayPct}}
		</td>
		<td>
			{{ExcessRainPayPct}}
		</td>
		<td>
			{{SumInsured}}
		</td>
		<td>
			{{TotalPayPct}}
		</td>
		<td>
			{{ActualPayPct}}
		</td>
		<td>
			{{ActualPay}}
		</td>
	</tr>
</template>

