<template name="LocationsInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> LocationsInsertForm}}
	</div>
</template>

<template name="LocationsInsertForm">
	<div id="locations-insert-form" class="">
		<h2 id="component-title">
			New Location
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-county">
				<label for="county">
					County
				</label>
				<div class="input-div">
					<input type="text" name="county" value="" class="form-control " autofocus="autofocus" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-ward">
				<label for="ward">
					Ward
				</label>
				<div class="input-div">
					<input type="text" name="ward" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-source">
				<label for="source">
					Source
				</label>
				<div class="input-div">
					<input type="text" name="source" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-pixel">
				<label for="pixel">
					Pixel
				</label>
				<div class="input-div">
					<input type="text" name="pixel" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-latitude">
				<label for="latitude">
					Latitude
				</label>
				<div class="input-div">
					<input type="text" name="latitude" value="" class="form-control " data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-longitude">
				<label for="longitude">
					Longitude
				</label>
				<div class="input-div">
					<input type="text" name="longitude" value="" class="form-control " data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

