<template name="PayoutsDemoInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> PayoutsDemoInsertForm}}
	</div>
</template>

<template name="PayoutsDemoInsertForm">
	<div id="payouts-demo-insert-form" class="">
		<h2 id="component-title">
			New Payout 2
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="" class="form-control " autofocus="autofocus" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-mobile_number">
				<label for="mobile_number">
					Mobile Number
				</label>
				<div class="input-div">
					<input type="text" name="mobile_number" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-sum_insured">
				<label for="sum_insured">
					Sum Insured
				</label>
				<div class="input-div">
					<input type="text" name="sum_insured" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-order_number">
				<label for="order_number">
					Order Number
				</label>
				<div class="input-div">
					<input type="text" name="order_number" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-value_chain">
				<label for="value_chain">
					Value Chain
				</label>
				<div class="input-div">
					<input type="text" name="value_chain" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-start_date">
				<label for="start_date">
					Start Date
				</label>
				<div class="input-div">
					<input type="text" name="start_date" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-pixel">
				<label for="pixel">
					Pixel
				</label>
				<div class="input-div">
					<input type="text" name="pixel" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-end_date">
				<label for="end_date">
					End Date
				</label>
				<div class="input-div">
					<input type="text" name="end_date" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-germ_wet_pay">
				<label for="germ_wet_pay">
					Germ. Wet Payout
				</label>
				<div class="input-div">
					<input type="text" name="germ_wet_pay" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-germ_dry_pay">
				<label for="germ_dry_pay">
					Germ Dry Payout
				</label>
				<div class="input-div">
					<input type="text" name="germ_dry_pay" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-veg_wet_pay">
				<label for="veg_wet_pay">
					Veg Wet Payout
				</label>
				<div class="input-div">
					<input type="text" name="veg_wet_pay" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-veg_dry_pay">
				<label for="veg_dry_pay">
					Veg Dry Payout
				</label>
				<div class="input-div">
					<input type="text" name="veg_dry_pay" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-flower_pay">
				<label for="flower_pay">
					Flowering Payout
				</label>
				<div class="input-div">
					<input type="text" name="flower_pay" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-excess_rain_pay">
				<label for="excess_rain_pay">
					Excess Rain Payout
				</label>
				<div class="input-div">
					<input type="text" name="excess_rain_pay" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

