<template name="PartnersDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> PartnersDetailsForm}}{{> PartnersDetailsPartnersPoliciesView}}
	</div>
</template>

<template name="PartnersDetailsForm">
	<div id="partners-details-form" class="form-details">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Farmer Details
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-id">
				<label for="id" class="col-sm-3 control-label">
					Id
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-id">
						{{partner.id}}
					</p>
				</div>
			</div>
			<div class="form-group  field-first-name">
				<label for="firstName" class="col-sm-3 control-label">
					First Name
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-first-name">
						{{partner.firstName}}
					</p>
				</div>
			</div>
			<div class="form-group  field-last-name">
				<label for="lastName" class="col-sm-3 control-label">
					Last Name
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-last-name">
						{{partner.lastName}}
					</p>
				</div>
			</div>
			<div class="form-group  field-mobile_num">
				<label for="mobile_num" class="col-sm-3 control-label">
					Mobile Phone
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-mobile_num">
						{{partner.mobile_num}}
					</p>
				</div>
			</div>
			<div class="form-group  field-is_signed">
				<label for="is_signed" class="col-sm-3 control-label">
					Notarized
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-is_signed">
						{{booleanToYesNo partner.is_signed}}
					</p>
				</div>
			</div>
			<div class="form-group  field-tx_hash">
				<label for="tx_hash" class="col-sm-3 control-label">
					Audit Trail
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-tx_hash">
						{{partner.tx_hash}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
				</div>
			</div>
		</form>
	</div>
</template>

<template name="PartnersDetailsPartnersPoliciesView">
	<div id="partners-details-partners-policies-view" class="">
		<h2 id="component-title">
			Policies
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> PartnersDetailsPartnersPoliciesViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="PartnersDetailsPartnersPoliciesViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="id">
					Id
				</th>
				<th class="th-sortable" data-sort="siteTable_id">
					Sitetable Id
				</th>
				<th class="th-sortable" data-sort="policyStatus_code">
					Policy Status Code
				</th>
				<th class="th-sortable" data-sort="startDate">
					Start Date
				</th>
				<th class="th-sortable" data-sort="endDate">
					End Date
				</th>
				<th class="th-sortable" data-sort="order_number">
					Order Number
				</th>
				<th class="th-sortable" data-sort="mobile_num">
					Mobile Phone
				</th>
				<th class="th-sortable" data-sort="is_signed">
					Notarized
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each partner_policies_list_paged}} {{> PartnersDetailsPartnersPoliciesViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="PartnersDetailsPartnersPoliciesViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{id}}
		</td>
		<td>
			{{siteTable_id}}
		</td>
		<td>
			{{policyStatus_code}}
		</td>
		<td>
			{{formatDate startDate ''}}
		</td>
		<td>
			{{formatDate endDate ''}}
		</td>
		<td>
			{{order_number}}
		</td>
		<td>
			{{mobile_num}}
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="is_signed" {{checked is_signed}}>
		</td>
		<td class="td-icon">
			{{#if isEnabledSign}}
			<span id="action-button" data-action="sign" class="fa fa-pencil-square-o ACTION_CLASS" title="Sign">
			</span>
			{{/if}}
		</td>
	</tr>
</template>

