<template name="GroupPoliciesDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> GroupPoliciesDetailsForm}}{{> GroupPoliciesDetailsGpIndividualPolicies}}
	</div>
</template>

<template name="GroupPoliciesDetailsForm">
	<div id="group-policies-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Group Policy Details
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-id">
				<label for="id" class="col-sm-3 control-label">
					Group Policy Id
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-id">
						{{group_policy.id}}
					</p>
				</div>
			</div>
			<div class="form-group  field-location-name">
				<label for="location.name" class="col-sm-3 control-label">
					Location
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-location-name">
						{{json2table group_policy.location.name group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-sow_window">
				<label for="sow_window" class="col-sm-3 control-label">
					Sow Window
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-sow_window">
						{{json2table group_policy.sow_window group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-begin_date">
				<label for="begin_date" class="col-sm-3 control-label">
					Date Begin
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-begin_date">
						{{formatDate group_policy.begin_date 'MMM-DD'}}
					</p>
				</div>
			</div>
			<div class="form-group  field-end_date">
				<label for="end_date" class="col-sm-3 control-label">
					Date End
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-end_date">
						{{formatDate group_policy.end_date 'MMM-DD'}}
					</p>
				</div>
			</div>
			<div class="form-group  field-crop_stages">
				<label for="crop_stages" class="col-sm-3 control-label">
					Crop Stages
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-crop_stages">
						{{array2table group_policy.crop_stages group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-payout">
				<label for="payout" class="col-sm-3 control-label">
					Payout
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-payout">
						{{json2table group_policy.payout group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-meta">
				<label for="meta" class="col-sm-3 control-label">
					Metadata
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-meta">
						{{json2table group_policy.meta group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-gp_agg_count">
				<label for="gp_agg_count" class="col-sm-3 control-label">
					# Policies
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-gp_agg_count">
						{{group_policy.gp_agg_count}}
					</p>
				</div>
			</div>
			<div class="form-group  field-gp_agg_total_amount">
				<label for="gp_agg_total_amount" class="col-sm-3 control-label">
					Total Amount
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-gp_agg_total_amount">
						{{currency group_policy.gp_agg_total_amount group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-gp_agg_deductible_amount">
				<label for="gp_agg_deductible_amount" class="col-sm-3 control-label">
					Deductible Amount
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-gp_agg_deductible_amount">
						{{currency group_policy.gp_agg_deductible_amount group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-gp_agg_actual_amount">
				<label for="gp_agg_actual_amount" class="col-sm-3 control-label">
					Actual Amount
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-gp_agg_actual_amount">
						{{currency group_policy.gp_agg_actual_amount group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-gp_agg_sum_insured">
				<label for="gp_agg_sum_insured" class="col-sm-3 control-label">
					Sum Insured
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-gp_agg_sum_insured">
						{{currency group_policy.gp_agg_sum_insured group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-gp_agg_sum_premium">
				<label for="gp_agg_sum_premium" class="col-sm-3 control-label">
					Sum Premium
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-gp_agg_sum_premium">
						{{currency group_policy.gp_agg_sum_premium group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
				</div>
			</div>
		</form>
	</div>
</template>

<template name="GroupPoliciesDetailsGpIndividualPolicies">
	<div id="group-policies-details-gp-individual-policies" class="">
		<h2 id="component-title">
			Individual Policies
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> GroupPoliciesDetailsGpIndividualPoliciesTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="GroupPoliciesDetailsGpIndividualPoliciesTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="id">
					Id
				</th>
				<th class="th-sortable" data-sort="phone_no">
					Phone No
				</th>
				<th class="th-sortable" data-sort="premium_amount">
					Premium Amount
				</th>
				<th class="th-sortable" data-sort="sum_insured_amount">
					Sum Insured Amount
				</th>
				<th class="th-sortable" data-sort="payout.total_amount">
					Total Amount
				</th>
				<th class="th-sortable" data-sort="payout.deductible_amount">
					Deductible
				</th>
				<th class="th-sortable" data-sort="payout.actual_amount">
					Actual
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each gp_individual_policies_paged}} {{> GroupPoliciesDetailsGpIndividualPoliciesTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="GroupPoliciesDetailsGpIndividualPoliciesTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{id}}
		</td>
		<td>
			{{phone_no}}
		</td>
		<td>
			{{currency premium_amount this}}
		</td>
		<td>
			{{currency sum_insured_amount this}}
		</td>
		<td>
			{{currency payout.total_amount this}}
		</td>
		<td>
			{{currency payout.deductible_amount this}}
		</td>
		<td>
			{{currency payout.actual_amount this}}
		</td>
	</tr>
</template>

