<template name="GroupPoliciesDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> GroupPoliciesDetailsForm}}{{> GroupPoliciesDetailsGpCropStages}}{{> GroupPoliciesDetailsGpIndividualPolicies}}
	</div>
</template>

<template name="GroupPoliciesDetailsForm">
	<div id="group-policies-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Group Policy Details
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-id">
				<label for="id" class="col-sm-3 control-label">
					Group Policy Id
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-id">
						{{group_policy.id}}
					</p>
				</div>
			</div>
			<div class="form-group  field-location">
				<label for="location" class="col-sm-3 control-label">
					Location
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-location">
						{{json2table group_policy.location group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-sow_window">
				<label for="sow_window" class="col-sm-3 control-label">
					Sow Window
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-sow_window">
						{{group_policy.sow_window}}
					</p>
				</div>
			</div>
			<div class="form-group  field-sow_date">
				<label for="sow_date" class="col-sm-3 control-label">
					Sow Date
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-sow_date">
						{{formatDate group_policy.sow_date 'MMM-DD'}}
					</p>
				</div>
			</div>
			<div class="form-group  field-begin_date">
				<label for="begin_date" class="col-sm-3 control-label">
					Date Begin
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-begin_date">
						{{formatDate group_policy.begin_date 'MMM-DD'}}
					</p>
				</div>
			</div>
			<div class="form-group  field-end_date">
				<label for="end_date" class="col-sm-3 control-label">
					Date End
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-end_date">
						{{formatDate group_policy.end_date 'MMM-DD'}}
					</p>
				</div>
			</div>
			<div class="form-group  field-crop_stages">
				<label for="crop_stages" class="col-sm-3 control-label">
					Crop Stages
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-crop_stages">
						{{round2 group_policy.crop_stages group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-payout">
				<label for="payout" class="col-sm-3 control-label">
					Payout
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-payout">
						{{json2table group_policy.payout group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group  field-meta">
				<label for="meta" class="col-sm-3 control-label">
					Metadata
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-meta">
						{{json2table group_policy.meta group_policy}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
				</div>
			</div>
		</form>
	</div>
</template>

<template name="GroupPoliciesDetailsGpCropStages">
	<div id="group-policies-details-gp-crop-stages" class="">
		<h2 id="component-title">
			Crop Stages
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> GroupPoliciesDetailsGpCropStagesTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="GroupPoliciesDetailsGpCropStagesTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="cs_id">
					Crop Stage Id
				</th>
				<th class="th-sortable" data-sort="weight">
					Weight
				</th>
				<th class="th-sortable" data-sort="date_begin">
					Date Begin
				</th>
				<th class="th-sortable" data-sort="date_end">
					Date End
				</th>
				<th class="th-sortable" data-sort="trigger">
					Trigger
				</th>
				<th class="th-sortable" data-sort="blocks_total">
					Blocks Total
				</th>
				<th class="th-sortable" data-sort="blocks_loss">
					Blocks Loss
				</th>
				<th class="th-sortable" data-sort="payout">
					Payout
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each gp_crop_stages_list_paged}} {{> GroupPoliciesDetailsGpCropStagesTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="GroupPoliciesDetailsGpCropStagesTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{cs_id}}
		</td>
		<td>
			{{round2 weight this}}
		</td>
		<td>
			{{formatDate date_begin 'MMM-DD'}}
		</td>
		<td>
			{{formatDate date_end 'MMM-DD'}}
		</td>
		<td>
			{{round2 trigger this}}
		</td>
		<td>
			{{blocks_total}}
		</td>
		<td>
			{{blocks_loss}}
		</td>
		<td>
			{{currency payout this}}
		</td>
	</tr>
</template>

<template name="GroupPoliciesDetailsGpIndividualPolicies">
	<div id="group-policies-details-gp-individual-policies" class="">
		<h2 id="component-title">
			Individual Policies
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> GroupPoliciesDetailsGpIndividualPoliciesTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="GroupPoliciesDetailsGpIndividualPoliciesTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="voucher_no">
					Voucher No
				</th>
				<th class="th-sortable" data-sort="phone_no">
					Phone No
				</th>
				<th class="th-sortable" data-sort="crop">
					Crop
				</th>
				<th class="th-sortable" data-sort="activation_window">
					Activation W.
				</th>
				<th class="th-sortable" data-sort="date_begin">
					Date Begin
				</th>
				<th class="th-sortable" data-sort="date_end">
					Date End
				</th>
				<th class="th-sortable" data-sort="activation_timestamp">
					Activation
				</th>
				<th class="th-sortable" data-sort="premium">
					Premium
				</th>
				<th class="th-sortable" data-sort="sum_insured">
					Sum Insured
				</th>
				<th class="th-sortable" data-sort="paym_amount">
					Paym Amount
				</th>
				<th class="th-sortable" data-sort="payout_amount">
					Payout Amount
				</th>
				<th class="th-sortable" data-sort="payout_schedule_id">
					Payout Schedule Id
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each gp_individual_policies_paged}} {{> GroupPoliciesDetailsGpIndividualPoliciesTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="GroupPoliciesDetailsGpIndividualPoliciesTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{voucher_no}}
		</td>
		<td>
			{{phone_no}}
		</td>
		<td>
			{{crop}}
		</td>
		<td>
			{{activation_window}}
		</td>
		<td>
			{{formatDate date_begin 'MMM-DD'}}
		</td>
		<td>
			{{formatDate date_end 'MMM-DD'}}
		</td>
		<td>
			{{formatDate activation_timestamp 'MMM-DD'}}
		</td>
		<td>
			{{currency premium this}}
		</td>
		<td>
			{{currency sum_insured this}}
		</td>
		<td>
			{{currency paym_amount this}}
		</td>
		<td>
			{{currency payout_amount this}}
		</td>
		<td>
			{{payout_schedule_id}}
		</td>
	</tr>
</template>

