<template name="ActivationsMap">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ActivationsMapMap}}
	</div>
</template>

<template name="ActivationsMapMap">
	<div class="gmlp-map-container">
		{{> googleMap name="activationsMap" options=activationsMapOptions}}
	</div>
	<div style="margin-top: 20px;">
		<button class="btn btn-warning" id="btn-reload">
			Count Activations
		</button>
	</div>
</template>

