<template name="FispFarmersInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> FispFarmersInsertForm}}
	</div>
</template>

<template name="FispFarmersInsertForm">
	<div id="fisp-farmers-insert-form" class="">
		<h2 id="component-title">
			New Fisp Farmer
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name" class="col-sm-3 control-label">
					Name
				</label>
				<div class="input-div col-sm-9">
					<input type="text" name="name" value="" class="form-control " autofocus="autofocus" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-camp">
				<label for="camp" class="col-sm-3 control-label">
					Camp
				</label>
				<div class="input-div col-sm-9">
					<input type="text" name="camp" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-mobile_num">
				<label for="mobile_num" class="col-sm-3 control-label">
					Mobile Num
				</label>
				<div class="input-div col-sm-9">
					<input type="text" name="mobile_num" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-national_registration_number">
				<label for="national_registration_number" class="col-sm-3 control-label">
					National Registration Number
				</label>
				<div class="input-div col-sm-9">
					<input type="text" name="national_registration_number" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-fisp_member">
				<label for="fisp_member" class="col-sm-3 control-label">
					&nbsp;
				</label>
				<div class="input-div col-sm-9">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="fisp_member" data-type="bool">
							Fisp Member
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-verified">
				<label for="verified" class="col-sm-3 control-label">
					&nbsp;
				</label>
				<div class="input-div col-sm-9">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="verified" data-type="bool">
							Verified
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

